/* koina stoixeia olwn twn selidwn */
    nav {
        background-color: rgb(196, 190, 190);
        float: top;
        font-size: 33px;
        padding: 5px;
        border-radius: 25px;
        }

    nav a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(102, 99, 99);
        border-radius: 3px;
        }
    nav a {
        color: rgba(145, 7, 7, 0.781);
        padding: 6px;
        text-decoration: none;
        }
    body{
        background-color: rgb(112, 112, 112);
        }
    h1{
        font-family: "Sofia", serif;
        }
    footer{
        color: white;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        width: 100%;
        display: block;
        background-color: rgb(100, 19, 19)
        }
    p{
        color: black;
        font-family: "Trirong", serif;
        font-size: 20px;
        }
    .active{
        color: rgb(255, 255, 255);
    }


/* arxikh selida*/
    .home_page_img {
        float: left;
        margin: 5px;
        }

/*  melh selida*/
    .members_page_img{
        margin: 3px;
        border: 5px;
        }
/* diskografia_selida*/ 
    .lista_tragoudiwn {
        text-shadow: 2px 2px 8px #000000;
        font-size: 20px;
        margin: 7px;   
        padding: 5px;
        }
    .spotify_playlist {
        float: right;
        box-shadow: 10px 10px 5px rgb(0, 0, 0);
        }
    .lista_album{ 
        text-decoration-line: underline;
        text-decoration-style: inherit;
        }

/* vraveia_selida */
    tr:nth-child(even) {
        background-color: rgba(102, 7, 7, 0.384)
        }
    tr:hover {
        background-color: rgb(219, 208, 208);
        }
    th, td {
        padding: 10px;
        text-align: left;
        }
    table{
        border-collapse: collapse;
        box-shadow: 10px 10px rgb(0, 0, 0);
        margin: 15px;
        }
    th{
        background-color: rgb(212, 105, 34);
        }
    p{
        color: black;
        font-family: "Trirong", serif;
        font-size: 20px;
        }
/* synaulies_selida */
    .container {
        position: relative;
        width: 50%;
    }
  
    .image {
        display: block;
        width: 100%;
        height: auto;
    
    border-radius: 8px;
    }
  
    .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: #069b06;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        border-radius: 8px;
    }
  
    .container:hover .overlay {
        bottom: 0;
        height: 100%;
    }
  
    .text {
        white-space: nowrap; 
        color: white;
        font-size: 13.5px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        }
  